<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/header.css') }}"
/>

<ul class="nav">
  <li><a href="{{ url_for('views.index') }}">Home</a></li>
  <li><a href="{{ url_for('views.view_products') }}">Products</a></li>
  <li><a href="{{ url_for('views.admin') }}">Admin</a></li>
</ul>

<ul class="login">
  <li><a href="{{ url_for('views.login') }}">Login</a></li>
  <li><a href="{{ url_for('views.register') }}">Register</a></li>
  <li><a href="{{ url_for('views.logout') }}">Logout</a></li>
</ul>
