{% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/products.css') }}">

{% block content %}

<h1 class="display-5 fw-bold">Products</h1>

<div class="grid-container">
  {% for product in products: %}

  <a href="{{ url_for('views.product_info', product_id=product.id) }}">
    <div class="product-card">
      <div class="product-image">
        <img
          class="prod-image"
          src="{{url_for('static', filename=product.image)}}"
        />
      </div>
      <div class="product-bottom">
        <p>{{ product.title }}</p>
        <p>${{ product.price }}</p>
      </div>
    </div>
  </a>

  {% endfor %}
</div>
{% endblock %}

