.action-items{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.action-items > * {
    margin-left: 15%;
}

.action-items > * > *:hover {
    color: blue;
    cursor: pointer;
    width: 35px!important;
    height: 35px!important;
}

.modal-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}