.img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.link {
    text-decoration: none;
}

ion-grid {
    --ion-grid-column-padding: auto;
}

.card {
    min-width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: none;
}

ion-item {
    --background-hover: var(--ion-color-primary);
}

ion-button {
    max-width: 70%;
    white-space: normal;
    padding: 10px;
}

// ion-card{
//     --background:#f6f6f6;
// }
