  
  <!-- EDIT CUSTOMER MODAL-->
  <div class="container">
  
    <!-- Modal -->
    <div class="modal fade" id="edit-cust" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header modal-title">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Customer</h4>
          </div>
          <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="full_name">Full Name</label>
                  <input type="text" class="form-control" id="full_name" placeholder="Enter your full name">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Enter your password" disabled>
                </div>
                <div class="form-group">
                  <label for="role">Role</label>
                  <select class="form-control" id="role">
                    <option value="admin">Admin</option>
                    <option value="user">Regular User</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>




  