{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1>Shopping Cart</h1>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Image</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.name }}</td>
          <td><img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" style="max-width: 100px;"></td>
          <td>${{ product.price }}</td>
          <td><input type="number" class="form-control" value="1"></td>
          <td>${{ product.price }}</td>
          <td><button class="btn btn-danger btn-sm">Remove</button></td>
        </tr>
        {% endfor %}
    </table>
    
    <div class="text-end">
      <h4>Total: $30.00</h4>
      <button class="btn btn-primary">Checkout</button>
    </div>
  </div>
  
{% endblock %}

