.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-light-tint);
    border-radius: 20px;
}

.img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.content {
    padding-left: 80px;
}

ion-card {
    max-width: 80%;
}

ion-input {
    max-width: 100px;
}

@media screen and (max-width: 425px) {
    .container {
        display: block;
        align-items: left;
        justify-content: left;
        background-color: var(--ion-color-light-tint);
    }
}
